@charset "utf-8";
/* CSS Document */

#frntPic {
	width: 80%;
	height: 30%;
}

#poolPic {
	width: 80%;
	height: 30%;	
}

#paragraph {
	
	text-align: center;	
}

#silverSneakersPic {
	width: 80%;
	height: 20%;	
}

